@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Yellowtail', Tahoma, Geneva, Verdana, sans-serif;
}

/* Slider */
.slider{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

/* One Slide */
.slider figure div{
    float: left;
    width: 20%;
}

.slider figure img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    float: left;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    animation: anim 20s infinite;
}

.slider figure div::before{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgb(218, 101, 101, 0.4);
}

/* Text */
p{
    position: absolute;
    top: 380px;
    padding: 30px;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    background: #e74c3c;
    border-right: #fff 5px solid;
    border-top: #fff 5px solid;
    border-bottom: #fff 5px solid;
}

/* Animation */
@keyframes anim{
    0%{
        left: 0%;
    }
    10%{
        left: 0%;
    }
    12%{
        left: -100%;
    }
    22%{
        left: -100%;
    }
    24%{
        left: -200%;
    }
    34%{
        left: -200%;
    }
    36%{
        left: -300%;
    }
    46%{
        left: -300%;
    }
    48%{
        left: -400%;
    }
    58%{
        left: -400%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -300%;
    }
    72%{
        left: -200%;
    }
    82%{
        left: -200%;
    }
    84%{
        left: -100%;
    }
    94%{
        left: -100%;
    }
    96%{
        left: 0%;
    }
}

/* Responsive */
@media(max-width:1200px){
    p{
        top: 320px;
        padding: 18px;
        font-size: 3rem;
    }
}

@media(max-width:1000px){
    p{
        top: 260px;
        font-size: 2.5rem;
    }
}

@media(max-width:800px){
    p{
        top: 200px;
        font-size: 2rem;
    }
}

@media(max-width:600px){
    p{
        top: 170px;
        font-size: 1.4rem;
        padding: 15px;
    }
}

@media(max-width:500px){
    p{
        top: 130px;
        font-size: 1.2rem;
        padding: 12px;
    }
}

@media(max-width:400px){
    p{
        top: 100px;
        font-size: 1rem;
        padding: 10px;
    }
}

